@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-card h2 {
    margin-top: 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 10px;
}
.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.right-side {
    margin-left: auto;
    display: flex;
    gap: 15px;
    align-items: center;
}
.pagination {
    margin-top: 30px;
    text-align: center;
}


.pagination a {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
}


.pagination a:hover {
    background: black;
    color:white;
}