@charset "UTF-8";
.auth-container{

width:400px;

margin:80px auto;

background:#111820;

border:1px solid #25303b;

border-radius:16px;

padding:35px;


}



.auth-container h1{

color:white;

text-align:center;

margin-bottom:30px;

}



.auth-form{

display:flex;

flex-direction:column;

gap:20px;

}



.auth-form .form-group{

display:flex;

flex-direction:column;

gap:8px;

}



.auth-form label{

color:#aaa;

}



.auth-form input{


background:#0b1016;

color:white;

border:1px solid #25303b;

padding:12px;

border-radius:8px;


}



.auth-form input:focus{

outline:none;

border-color:#8b5cf6;

}



.auth-link{

text-align:center;

margin-top:20px;

color:#aaa;

}



.auth-link a{

color:#8b5cf6;

text-decoration:none;

}