@charset "UTF-8";
.order-container{

max-width:1000px;

margin:60px auto;

}



.order-container h1{

color:white;

margin-bottom:30px;

}



.order-card{

background:#111820;

border:1px solid #25303b;

border-radius:15px;

padding:25px;

margin-bottom:20px;

}



.order-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.order-header h2{

color:white;

font-size:22px;

}



.status{

color:#a855f7;

font-weight:bold;

}



.order-card p{

color:#aaa;

font-size:16px;

}



.total{

color:white!important;

font-size:18px!important;

}



.detail-btn{

background:#8b5cf6;

color:white;

border:none;

padding:10px 18px;

border-radius:8px;

cursor:pointer;

}



.detail-btn:hover{

opacity:0.8;

}

.detail-btn{
background:#8b5cf6;
color:white;
border:none;
padding:10px 18px;
border-radius:8px;
cursor:pointer;
}



.empty{

color:white;

}

.order-detail-container{

max-width:900px;

margin:60px auto;

}



.order-detail-card{

background:#111820;

border:1px solid #25303b;

border-radius:15px;

padding:30px;

}



.order-detail-card h1{

color:white;

margin-bottom:20px;

}



.order-detail-card h2{

color:white;

margin-top:35px;

}



.order-detail-card p{

color:#aaa;

}



.order-status span{

color:#a855f7;

font-weight:bold;

}




.order-product{

display:flex;

justify-content:space-between;

align-items:center;

background:#0b1016;

border:1px solid #25303b;

border-radius:10px;

padding:20px;

margin-top:15px;

}



.order-product h3{

color:white;

margin:0 0 10px;

}



.product-price{

color:#a855f7;

font-size:18px;

font-weight:bold;

}




.order-total{

margin-top:30px;

padding-top:20px;

border-top:1px solid #25303b;

color:white;

font-size:22px;

text-align:right;

}


.order-total strong{

color:#a855f7;

}

.admin-order-container{

max-width:1000px;

margin:60px auto;

}



.admin-order-container h1{

color:white;

margin-bottom:30px;

}



.admin-order-card{

background:#111820;

border:1px solid #25303b;

border-radius:15px;

padding:25px;

margin-bottom:20px;

}



.admin-order-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.admin-order-header h2{

color:white;

}



.admin-order-card p{

color:#aaa;

}



.status{

color:#a855f7;

font-weight:bold;

}



.total{

color:white!important;

font-size:18px;

}



.status-form{

display:flex;

align-items:center;

gap:15px;

margin-top:20px;

}



.status-form label{

color:white;

}



.status-form select{

background:#0b1016;

color:white;

border:1px solid #25303b;

padding:8px;

border-radius:8px;

}



.status-form button{

background:#8b5cf6;

color:white;

border:none;

padding:9px 18px;

border-radius:8px;

cursor:pointer;

}



.status-form button:hover{

opacity:.8;

}